<div class="page-header">
  <%= link_to clients_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to edit_client_path(@client), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Editar
  <% end %>
  <h3>Dados do Cliente</h3>
</div>

<dl class="dl-horizontal">
  <dt>Nome:</dt>
  <dd><%= @client.nome %></dd>

  <dt>CPF:</dt>
  <dd><%= @client.cpf %></dd>

  <dt>RG:</dt>
  <dd><%= @client.rg %></dd>

  <dt>Telefone1:</dt>
  <dd><%= @client.telefone1 %></dd>

  <dt>Telefone2:</dt>
  <dd><%= @client.telefone2 %></dd>

  <dt>UF:</dt>
  <dd><%= @client.desc_uf %></dd>

  <dt>Cidade:</dt>
  <dd><%= @client.nome_cidade %></dd>

  <dt>Endereço:</dt>
  <dd><%= @client.desc_endereco %></dd>

  <dt>Bairro:</dt>
  <dd><%= @client.nome_bairro %></dd>

  <dt>Ponto referência:</dt>
  <dd><%= @client.desc_pontoreferencia %></dd>

  <dt>N°:</dt>
  <dd><%= @client.numr_endereco %></dd>

  <dt>CEP:</dt>
  <dd><%= @client.desc_cep %></dd>

  <hr>
   <h4>Situação financeira cadastral</h4>


   <dt>Situação:</dt>
   <dd><%= @client.situacao %></dd>

   <dt>Observação:</dt>
   <dd><%= @client.observacao %></dd>
</dl>
